{% extends "base/base.html" %}
{% block content %}
<h2 class="mb-3">Employees</h2>

<a href="{% url 'employee_create' %}" class="btn btn-primary mb-3">
    Add Employee
</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
    </thead>

    <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.employee_id }}</td>
            <td>{{ employee.user.username }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.designation }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock  %}