{% extends "base/base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

    <!-- Total Employees -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-primary mb-4">
            <div class="card-body">
                <h6>Total Employees</h6>
                <h2>{{ total_employees }}</h2>
            </div>
        </div>
    </div>

    <!-- Present Today -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-success mb-4">
            <div class="card-body">
                <h6>Present Today</h6>
                <h2>{{ present_today }}</h2>
            </div>
        </div>
    </div>

    <!-- Absent Today -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-danger mb-4">
            <div class="card-body">
                <h6>Absent Today</h6>
                <h2>{{ absent_today }}</h2>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <!-- Today Attendance Records -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-info mb-4">
            <div class="card-body">
                <h6>Attendance Records Today</h6>
                <h2>{{ today_attendance }}</h2>
            </div>
        </div>
    </div>

    <!-- Pending Leaves -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-warning mb-4">
            <div class="card-body">
                <h6>Pending Leaves</h6>
                <h2>{{ pending_leaves }}</h2>
            </div>
        </div>
    </div>

    <!-- Payroll Records -->
    <div class="col-md-4">
        <div class="card shadow border-0 text-white bg-dark mb-4">
            <div class="card-body">
                <h6>Total Payroll Records</h6>
                <h2>{{ total_payroll }}</h2>
            </div>
        </div>
    </div>

</div>

<div class="card shadow p-4">
    <canvas id="attendanceChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('attendanceChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ last_7_days|safe }},
            datasets: [{
                label: 'Present Employees (Last 7 Days)',
                data: {{ present_counts|safe }},
                borderColor: '#0d6efd',
                backgroundColor: 'rgba(13,110,253,0.1)',
                fill: true,
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
</script>

{% endblock %}
